*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;     
}
body{
    margin: 0;
    /* background-color: rgba(233, 198, 43, 0.233);   */
}
/* /* para o menu fixar fixo no topo - movido para UL devido a css responsivo */
/* nav{
    position: fixed;
    width: 100%;
} */

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:tan;
    overflow: hidden;  
    position: fixed;
    width: 100%;    
        
}
li{
    float: left;
    font-size: 15px;
}

.menu a{
    display:block;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    /* float: left; */
    
}
.menu .icon{
    display: none;
}
/* se quiser alinhar algum item à direita
.menu-direita{
    float: right;
} */
li a:hover{
    background-color:orange;
    color: snow;   
    font-size: 102%;
        
}

.menu-ativo{
    background-color: orange;
    color: snow;
}
#banner{
    width: 100%;
    height: 600px;
    float: left;
    background: url(../img/banner2.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;

}
#conteudo{
    width: 100%;
    height: auto;/*apos inserir conteudo, ajustar o tamanho*/
    /* background-color: darkslategrey; */
    float: left;
}
#centraliza-conteudo{
    margin: 0 auto;
    width: 80%;
    height: auto;
    /* background-color: dimgray; */
}
#cidade{
    width: 100%;
    height: auto;
    float: left;
    padding: 15px;
    /* background-color: red; */  
    
}
#cidade>h2{
text-align: center;
}
#imagem-cidade{
    width: 40%;
    height: 510px;
    float: left;
    /* background-color: sandybrown; */
    padding: 100 20;
    
}
#imagem-cidade>img{
    width: 100%;
    display: block;
    margin: 0 auto;
}
#texto-cidade{
    width: 60%;
    height: auto;
    float: left;
    /* background-color: yellow; */
}
#texto-cidade>p{
    text-align: justify;
}
#pontos-turisticos{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 30px;
    margin-bottom: 30x;
    /* background-color: blueviolet; */
}
.card{
    width: 31%;
    height: auto;
    float: left;
    background-color:rgba(207, 120, 12, 0.2);
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
    margin: 0 1%;
}
.card-imagem{
    width: 100%;
    height: 200px;
    float: left;
    /* background-color: royalblue; */
}
.card-texto{
    width: 100%;
    height: auto;
    float: left;
    min-height: 400px;
    /* background-color: rgb(225, 142, 65); */
    padding: 0 10px;
    
}
.card-imagem>img{
    width: 100%;
    height: 200px;
    padding: 2px;
}
.card-texto>p{
    text-align:justify;
}
#pontos-turisticos>h2{
text-align: center;
}
#galeria{
    width: 100%;
    height: auto;
    float: left;
    /* background-color: rgb(158, 158, 207); */
    margin-top: 30px;   
}
#galeria>h2{
    text-align: center;
}
.galeria-img{
    width: 19.5%;
    margin: 0 0.25%;
    float: left;
}
.galeria-img>a>img{
    width: 100%;
    height: 120px;
}
footer{
    width: 100%;
    height: 500px;
    float: left;
    /* background-color:tan; */
    margin-top: 20px;
}
#mapa{
    width: 100%;
    height: auto;
    float: left;
    /* background-color: turquoise; */
}
#mapa>h2{
    text-align: center;
     
}

/* #mapa>p{
    text-align: center;
    margin: 3 0;
}     */
   
#mapa>iframe{
    width: 100%;
    height: 430px;
}
#contato{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 30px;
    /* background-color: yellow; */
}
#contato>h2{
    text-align: center;  
        
}
#telefone{
    width: 33.3%;
    height: 500px;
    float: left;
    background-color:rgba(210, 180, 140, 0.651);
    text-align: center;
}
#email{
    width: 33.3%;
    height: 500px;
    float: left;
    background-color: rgba(210, 180, 140, 0.651);
    text-align: center;    
}
#email>a{
    color: black;    
}
#email>p{
    font-weight:bold;
}
#email a:hover{
    font-weight:lighter;      
    font-size: 105%;   
    color:rgb(6, 40, 53);
    /* text-decoration-color:orange;  */
}
#redes-sociais>a{
    color: black;
}
#redes-sociais{
    width: 33.3%;
    height: 500px;
    float: left;
    background-color: rgba(210, 180, 140, 0.651);
    text-align: center;
}
#redes-sociais a:hover{
    /* font-weight:bold; */
    font-weight:lighter;      
    font-size: 105%;
    color:rgb(6, 40, 53);
    /* text-decoration-color:orange; */
}
#copy{
    width: 100%;
    height: 100px;
    float: left;
    text-align: center;
    /* background-color: darkblue; */
}
#destaque{
    font-weight: bold;
    /* background-color: orange; */
}
#whatsapp{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    color:#FFF;
    background-color:#25d366;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 1px 1px 2px #888;
    z-index:1000;
   
    
}
#whatsapp>a{
   text-decoration: none;
   color: white;
}
#whatsapp>a>i{
    margin-top: 16px;
}
/* Qrcode do whats */
#telefone>img{
    width: auto;
    height: 150px;
}
/* .box-cookies.hide {
    display: none !important;
  }
  
  .box-cookies {
    position: fixed;
    background: rgba(0, 0, 0, .9);
    width: 100%;
    z-index: 998;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .box-cookies .msg-cookies,
  .box-cookies .btn-cookies {
    text-align: center;
    padding: 25px;
    color: #fff;
    font-size: 18px;
  }
  
  .box-cookies .btn-cookies {
    background: #1e88e5;
    cursor: pointer;
    align-self: normal;
  } */
   
  @media screen and (max-width: 600px) {
    .box-cookies {
      flex-direction: column;
    }
  }
/* final css desktop */
/* inicio css mobile */
@media only screen and (max-width: 600px){
    #centraliza-conteudo{
        width: 95%;       
    }
    #imagem-cidade{
        width: 100%;
        height: auto;
    }
    #texto-cidade{
        width: 100%;
        padding: 5px;
    }
    #imagem-cidade>img{
        width: 60%;
    }
    .card{
        width: 100%;
        height: auto;
        padding: 5px;            
        
    } 
    .card-texto{
        width: auto;
        min-height: initial;
        margin-bottom: 20px;
    } 
    .galeria-img{
        width: 49.5%;        
    }
    #telefone,#email,#redes-sociais{
        width: 100%;
        height: auto;
    }
    #contato{
        height: auto;
    }
    #telefone>img{
        display: none;
    }
    .oculto-responsivo{   
        display: none ;
    }
    #whatsapp{
        bottom: 10px;
        right: 10px;
    }
    #banner{
        background: url(../img/galeria/centro.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
         background-size: cover;
         
    }
    /* Menu responsivo */
    /* esconde os itens do menu mobile menos o primeiro */
    .menu ul>li:not(:first-child){
        display: none;
    }
    /* exibe o icone do menu mobile na direita */
    .menu .icon{
        display: block;
        float: right;
    }
    /* ao clicar no icone do menu responsivo a direira é alterada a sua posição */
    .menu.responsive {
        position: relative;
    }
    /* Fixa a posição do menu na parte superior, sem esse trecho ele ficaria no final do menu ao expandir */
    .menu.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    /* MUda o display dos itens do menu para que volte a aparecer todos, um por linnha*/
    .menu.responsive ul>li {
        float: none;
        width: 100%;
        display: inline-block;
        font-size: 17px;        
    }



       
}
/* 
  Final css mobile */