*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}
body{
    margin: 0;
}
/* para o menu fixar fixo no topo */
nav{
    position: fixed;
    width: 100%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:tan;
    overflow: hidden;
          
}
li{
    float: left;
}
li a{
    display:block;
    padding: 15px 17px;
    text-decoration: none;
    color: black;
}
li a:hover{
    background-color:orange;
    color: snow;   
    font-size: 102%;
    
}
.menu-ativo{
    background-color: orange;
    color: snow;
}
#banner{
    width: 100%;
    height: 500px;
    float: left;
    background: url(../img/banner2.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
#conteudo{
    width: 100%;
    height: 800px;/*apos inserir conteudo, ajustar o tamanho*/
    /* background-color: darkslategrey; */
    float: left;
}
#centraliza-conteudo{
    margin: 0 auto;
    width: 80%;
    height: 800px;
    /* background-color: dimgray; */
}
#cidade{
    width: 100%;
    height: auto;
    float: left;
    padding: 15px;
    /* background-color: red; */
}
#imagem-cidade{
    width: 40%;
    height: 510px;
    float: left;
    /* background-color: sandybrown; */
    /* padding: 100px 0px; */
}
#texto-cidade{
    width: 60%;
    height: auto;
    float: left;
    /* background-color: yellow; */
}
#texto-cidade>p{
    text-align: justify;
}
#pontos-turisticos{
    width: 100%;
    height: 700px;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
    /* background-color: blueviolet; */
}
.card{
    width: 31%;
    height: auto;
    float: left;
    background-color:rgba(207, 120, 12, 0.2);
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
    margin: 0 1%;
}
.card-imagem{
    width: 100%;
    height: 200px;
    float: left;
    /* background-color: royalblue; */
}
.card-texto{
    width: 100%;
    height: 300px;
    float: left;
    /* background-color: rgb(225, 142, 65); */
    padding: 0 10px;
}
.card-imagem>img{
    width: 100%;
    height: 200px;
    padding: 2px;
}
.card-texto>p{
    text-align:justify;
}
#pontos-turisticos>h3{
text-align: center;
}
#galeria{
    width: 100%;
    height: 600px;
    float: left;
    /* background-color: rgb(158, 158, 207); */
}
#galeria>h3{
    text-align: center;
}
.galeria-img{
    width: 19.5%;
    margin: 0 0.25%;
    float: left;
}
.galeria-img>img{
    width: 100%;
    height: 120px;
}